pkgbase = reticulum-meshchatx-git
	pkgdesc = A simple mesh network communications app powered by the Reticulum Network Stack
	pkgver = 4.9.1.r0.gebacc00
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	makedepends = git
	makedepends = nodejs
	makedepends = pnpm
	makedepends = python
	makedepends = python-pip
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = opus
	depends = opusfile
	depends = portaudio
	depends = espeak-ng
	provides = reticulum-meshchatx
	conflicts = reticulum-meshchatx
	source = reticulum-meshchatx::git+https://github.com/Quad4-Software/MeshChatX.git
	source = reticulum-meshchatx.desktop
	sha256sums = SKIP
	sha256sums = e0b1ad738415c2b6fbf5d042b240b8dc61d527ecbe2943f6c54b3eb902db2ac3

pkgname = reticulum-meshchatx-git
